<section class="about-section">
    <div class="content">
      <h2>👋 hey! my name is</h2>
      <p>
        Mohammed BENDHARRASS, a master's student in IT Security and Big Data at the Faculty of Science and Technology in Tangier.
        With a strong foundation in information security and data analytics, I am passionate about leveraging cutting-edge technologies to solve
        complex problems and enhance cybersecurity. Explore my projects and research to see how I apply my skills and knowledge to real
        world challenges.
      </p>
      <h2>EDUCATION</h2>
      <h3> 2020-2025 – FST TANGER</h3>
      <p>Diplômé de DEUST option MATH-INFORMATQUE-PHYSIQUE-CHIMIE en 2022.</p>
      <p>Diplôme LICENCE DES SCIENCES ET THECNIQUE option GENIE INFORMATIQUE en 2023.</p>
      <p>Etudiant à l’instant en MASTER DES SCIENCES ET THECNIQUE option Sécurité IT & Big Data en 2024.</p>
      <h3>2019 – BACALAUREAT</h3>
      <p>Diplômé de baccalauréat option science physique a khemisset avec mention bien.</p>
      <h2>Languages</h2>
      <p>English - Frensh - Arabe</p>
    </div>
    <div class="image">
      <img src="../../../..//public/image_Two.jpg" alt="Profile Picture">
    </div>
</section>

<router-outlet></router-outlet>