<p>skills works!</p>
<section class="skills-section">
    <h2>Technical Skills</h2>
    <table class="skills-table">
      <tr>
        <th>Category</th>
        <th>Technologies</th>
      </tr>
      <tr>
        <td>Virtualization</td>
        <td>ESXI, Proxmox, Portainer, pfSense</td>
      </tr>
      <tr>
        <td>Security Tools</td>
        <td>Nessus, CALDERA, Wazuh, Security Onion</td>
      </tr>
      <tr>
        <td>Networking</td>
        <td>VLANs, Firewall Management, Network Segmentation</td>
      </tr>
      <tr>
        <td>Penetration Testing & Web App Security</td>
        <td>DVWA, Metasploit, OpenVas, Hydra, Nmap, OWASP, Burp Suite, Zap</td>
      </tr>
      <tr>
        <td>Operating Systems</td>
        <td>Windows, Linux</td>
      </tr>
      <tr>
        <td>DevOps</td>
        <td>Docker, Kubernetes</td>
      </tr>
      <tr>
        <td>Base de Données</td>
        <td>MySQL, SQL Server, MongoDB</td>
      </tr>
      <tr>
        <td>AI</td>
        <td>Machine Learning, Deep Learning, RAG, Diffusion Models, Qdrant</td>
      </tr>
      <tr>
        <td>Frontend Development</td>
        <td>Angular, Python, C, C++, Ruby</td>
      </tr>
      <tr>
        <td>Programming Languages</td>
        <td>Spring (Boot, Data, Security), MicroServices</td>
      </tr>
      <tr>
        <td>Additional informations</td>
        <td>Git, Github, Gitlab</td>
      </tr>
    </table>
  </section>

  <router-outlet></router-outlet>